/* Body */
body {
    color: #ad7c44;
    border-color: #030000
    font-size: 20px;
    line-height: 34px;
    font-family: 'Arial', 'Helvetica', sans-serif;
    background-color: lightblue;
}
/* Unordered list class */
.game-tracker {
    padding: 20px;
    padding-left: 20px;
}

.list-game-tracker {
    padding-left: 20px;
}

#play {
    text-align: left;
}

#container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}